body, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
}

nav .navbar-nav .nav-link {
    margin: 0 10px;
    padding: 5px 10px;
    color: #333;
}


.banner-image {
    background: url('images/banner.jpg') no-repeat center center / cover;
    height: 50vh;
}

.banner-section {
    position: relative;
    background-image: url("images/banner.jpg"); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 750px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    max-width: 90%; 
    padding: 20px;
    text-align: center;
    background-color: rgba(116, 116, 116, 0.5); 
    color: white;
    border-radius: 10px; 
}

.banner-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#product-list .card {
    text-align: center;
    border: 1px solid #ccc;
    transition: transform 0.3s ease-in-out;
}

#product-list .card:hover {
    transform: scale(1.05);
}

.product-img, .cart-img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

footer .col-md-3 ul {
    padding-left: 0;
    text-align: center;
}

footer .col-md-3 ul li {
    list-style: none;
}

footer .col-md-3 ul li a {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar-expand-lg .navbar-nav .nav-item {
        margin: 5px 0;
    }
    .banner-section {
        height: 400px;
    }
    .banner-content h1 {
        font-size: 2rem;
    }
    .banner-content p {
        font-size: 1rem;
    }
    .btn-lg {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
    .row-cols-md-2 {
        --bs-columns: 1;
    }
    .row-cols-lg-4 {
        --bs-columns: 2;
    }
    footer .col-md-3 {
        text-align: center;
        margin-bottom: 20px;
    }
    footer .col-md-3 ul li {
        display: inline-block;
        margin: 0 10px;
    }
}

@media (max-width: 576px) {
    .banner-section {
        height: 300px;
    }
    .banner-content h1 {
        font-size: 1.5rem;
    }
    .banner-content p {
        font-size: 0.9rem;
    }
    .row-cols-md-2,
    .row-cols-lg-4 {
        --bs-columns: 1;
    }
    footer .col-md-3 ul li {
        display: block;
        margin: 5px 0;
    }
}
